h3{
    color: cadetblue;
  }

  
  .table{
    background-color:coral;
    font-weight: 500;
  }

  .red{
    background-color: rgb(236, 63, 63);
   }

   .blue{
     background-color: rgb(71, 71, 231);
   }

